body {
  scroll-behavior: smooth;
}

nav {
  background-color: white;
  width: auto;
  height: 80px;
  border: solid 1px rgb(204, 204, 204);

}

#logoBlock img {
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.nav-link {
  color: #6a3cae;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 50px;
  position: relative;
}

.nav-link:hover {
  color: black;
  text-transform: uppercase;
}

.join-link {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 50px;
  position: relative;
  border-radius: 5px;
  background-color: #a73ce6;
}

.join-link:hover {
  color: #a73ce6;
  background-color: transparent;
  border: 1px solid #a73ce6;
}


/* =====================================================================================   */


.box1 {
  padding: 15px;
  background-image: linear-gradient(#5e1ebe, #8e18c5, #ce00e0ee);
}

.main-h2 {
  color: white;
  margin-top: 20px;
  text-align: center;

}

.main-para {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box1 .join-link-box1 {
  width: fit-content;
  border-radius: 5px;
  background-color: white;
  padding: 5px 30px 5px 30px;
  border: none;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  color: #4f00c5;
  font-weight: bold;
  text-decoration: none;

}

.box1 .join-link-box1:hover {
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}

.carousel-wrapper {
  width: 650px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(247, 247, 247, 0.5);
  border-radius: 5px;
  margin: 25px auto 20px;
  background-color: rgb(238, 238, 238);
}

.carousel-container {
  width: 650px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: 2000px;
  animation: sliding 15s infinite;
}

.carousel div {
  width: 650px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel>div {
  width: 650px;
  height: 250px;
}

.carousel video {
  width: 100%;
  height: 250px;  
}


@media screen and (min-width: 600px) {
  #menu img {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  #menu img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(211, 211, 211);
  }

  .carousel-wrapper {
    width: 320px;
    height: 170px;
  }

  .carousel-container {
    width: 260px;
    height: 150px;
  }

  .carousel {
    width: 1000px;
  }

  .carousel>div {
    width: 320px;
    height: 150px;
  }

  .carousel video {
    width: auto;
    height: 150px;
  }
}


/* ---------------------------------------------------------------------------------------------- */


.box2 {
  width: auto;
  background-image: linear-gradient(#ce00e0ee, #8e18c5,  #5e1ebe);
}

.box2 h3{
  text-align: center; 
  letter-spacing: 5px;
  word-spacing: 0.5em;
  font-family: serif;
  padding: 5px;
  margin: 0 25px;
  color: white;
}

.container1 {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.items {
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 45px;
  padding: 2px;
}

.items img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.container1 .para {
  text-align: center;
  letter-spacing: 2px;
  font-size: small;
  margin-top: 20px;
  color: white;
}


@media (max-width: 580px) {
  .items {
    margin: 50px auto;
  }

  .items .reveal {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1.5s all ease;
  }
}


/*==================================================================================================== */

.box3 {
  width: auto;
  background-color: rgb(255, 255, 255);
}

.box3 h3 {
  text-align: center;
  font-family: serif;
  padding: 25px;
  color: black;
  letter-spacing: 4px;
  word-spacing: 0.5em;
}

.container-instrument {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item.item1 {
  width: 200px;
  height: 250px;
  margin: 10px auto 50px;
}

.item.item1 img {
  width: 150px;
  height: 150px;
  margin-left: 25px;
}

.item.item1 h4 {
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

.item.item1 p {
  text-align: center;
  font-size: smaller;
  letter-spacing: 2px;
}

@media (max-width: 580px) {

  .container-instrument .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all none;
  }

 
}


/* ================================================================================================= */

.content-box {
  height: auto;
}


/* ================================================================================================= */





.counts {
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  height: 400px;
  overflow: hidden;
  margin: 0;
}

.Achivements {
  text-align: center;
  font-family: serif;
  padding: 20px;
  color: #000000;
  letter-spacing: 4px;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 200px;
}

.counter-container img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.counter-container span {
  margin: 0 auto;
}

.counter {
  font-size: 30px;
  margin: 20px auto;
}


@media (max-width: 580px) {
  .counts {
    display: inline;

  }

  .counter-container {
    padding: 5px;
    margin: 50px auto;
    border-radius: 5px;

  }

  .counter-container img {
    margin: 0 auto;
  }

  .counter-container span {
    margin: 0 auto;
  }

  .counter {
    margin: 10px auto;
  }


  /* ----------------------------------- */

  .reveal.active {
    transform: translateX(0);
    opacity: 1;
  }

  .reveal {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1.5s all ease;
  }

}

/* ============================================================================================================== */

.box4 {
  height: 750px;
  margin-top: 50px;
  background-image: linear-gradient(#5e1ebe, #8013b3, #9a1da5ee);
  padding: 2px;
  border-radius: 10px 10px 0 0;
}

.box4 h3 {
  letter-spacing: 5px;
  word-spacing: 0.5em;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.form-box {
  width: 350px;
  height: 600px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  margin: 50px auto;
}

form label {
  margin-top: 15px;
  padding: 2px;
}

input,
textarea {
  width: 100%;
  padding: 2px;
  margin: 10px 10px 20px 0;
}

.btn-submit {
  margin-top: 25px;
  margin-left: 100px;
}

.alert {
  width: 100%;
  border-radius: 5px;
  color: #e203ff;
  text-align: center;
  letter-spacing: 4px;
  display: none;
}

/* ========================================================================================== */

.box-staff {
  height: auto;
}


.box-staff .container1 {
  margin: 0 auto;
  display: grid;
  background-color: #ececec;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box-staff .items {
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 350px;
  padding: 2px;
}

.box-staff .items img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
}

@media (max-width: 580px) {
  .box-staff .items {
    margin: 10px auto;
  }
}

/* ================================================================= */

.footer-box{
  height: auto;  
}

 .box-bottom{
  display: flex;
  background-color: #ffffff;
}

.box-bottom h4{
  margin-left: 75px;
}

.box-bottom .address-box{
  margin-top: 50px;
  margin-left: 150px;
}

.box-bottom .time-box{
  margin-top: 50px;
  margin-left: 350px;
}


.box-bottom .contact-box{
  margin-top: 50px;
  margin-left: 350px;
}


.box-bottom .address .add{
  letter-spacing: 2px;
  margin-top: 20px;
  margin-left: 40px;
}

.box-bottom .address .time{
  letter-spacing: 2px;
  margin-top: 20px;
  margin-left: 40px;
}

.box-bottom .address .contact{
  letter-spacing: 2px;
  margin-top: 20px;
  margin-left: 40px;
}

.box-bottom img{
  margin: 25px;
  width: 25px;
  height: 25px;
}

.box-bottom .address p{
  margin: 20px;
}




@media (max-width: 580px) {
  .box-bottom {
    display: block;
  }

  .box-bottom .address-box{
    margin: 0;

  }

  .box-bottom .time-box{
    margin: 0;

  }
  .box-bottom .contact-box{
    margin: 0;

  }


  .box-bottom  p{
    font-size: smaller
  }

  .box-bottom img{
    margin-left: 25px;
    width: 25px;
    height: 25px;
  }

  .box-bottom .address-box .add{
    margin-top: 25px;
    letter-spacing: 2px;
  }
  
  .box-bottom .time-box .time{
    margin-top: 40px;
    letter-spacing: 2px;
    
  }

  .box-bottom .contact-box .contact{
    margin-top: 40px;
    letter-spacing: 2px;
    
  }
}

.map iframe{
  width: 100%;
  height: 200px;
  margin-top: 50px;
}